:root {
    --main-color: #1b1464;
    --developer-akademie-color: #fd7066;
    --card-padding-desktop: 60px;
    --card-padding-mobile: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--main-color);
    font-family: "PT Sans", sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
}

h1 {
    font-family: "Fredoka One", cursive;
    font-size: 28px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
}

.game-container {
    /* background-color: white; */
    background-image: url("img/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 5px 2px 5px rgb(0 0 0 / 5%);
}

.play-button {
    /* position: relative;
    left: calc(50% - var(--card-padding)); */
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.play-button:hover {
    filter: brightness(1.3);
}

table {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    width: 20%;
    height: 20%;
    text-align: center;
    vertical-align: middle;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.code-editor {
    background-color: var(--main-color);
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    line-height: 1.2;
    height: 400px;
    padding-left: 40px;
    border-radius: 10px;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        Courier New, monospace, serif;
}

.space-object {
    width: 80%;
    height: auto;
    transition: all 125ms ease-in-out;
}

.coding-container {
    width: 50%;
    padding: 32px;
    position: relative;
}

#code {
    font-weight: 500;
    font-size: 17px;
    border-bottom: 1px solid white;
    cursor: pointer;
    height: 500px;
    resize: none;
}

.editor-box {
    position: relative;
    width: 100%;
}

.editor-lines {
    height: 400px;
    position: absolute;
    left: 10px;
    top: 16px;
    color: rgba(255, 255, 255, 0.5);
    /* font-size: 13px; */
    /* line-height: 16px; */
    font-weight: 500;
    font-size: 17px;
}

.legal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding-top: 16px;
    /* color: rgba(255, 255, 255, 0.8); */
}

a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
}

a:hover {
    text-decoration: underline;
    color: black;
}

#errorDialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

#errorDialog div {
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 8px;
    box-shadow: 2px 9px 12px rgb(0 0 0 / 64%);
    color: #4b6170;
    font-size: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

#errorDialog div span {
    font-size: 14px;
}

#errorDialog div button {
    background-color: #f65656;
    cursor: pointer;
    color: white;
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 46px;
    border: none;
}

#errorDialog div button:hover {
    background-color: #f56666;
}

.level-picker {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px 48px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.level-picker img {
    width: 12px;
    height: 12px;
    opacity: 0.8;
}

.level-left {
    left: 0;
}

.level-right {
    right: 0;
}

.level-picker-btn {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.level-picker-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: white;
    padding: var(--card-padding-desktop);
    border-radius: 26px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2 {
    font-size: 36px;
}

#levelDescription {
    font-size: 18px;
}

.text-color-main {
    color: var(--main-color);
}

.text-color-da {
    color: var(--developer-akademie-color);
}

.mt-0 {
    margin-top: 0;
}

@media (max-width: 1000px) {
    body {
        flex-direction: column;
    }
    .coding-container {
        width: auto;
    }
    .game-container {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .space-between {
        flex-direction: column;
        margin-bottom: 16px;
    }
    .coding-container {
        padding: 0;
    }
}

@media (max-width: 500px) {
    .space-object {
        width: 80%;
        height: auto;
        transition: all 125ms ease-in-out;
    }
    .card {
        padding: var(--card-padding-mobile);
    }
}